*.class

#package
*.war
*.ear

#maven ignore
target/

#eclipse
.setting/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iws
*.iml
/out/*

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
